menuconfig KSDSERV3
       bool "KSD SERVER support multi timer hr for 'n' devices"

if KSDSERV3

config KSD_TIMER_DRIVER_HR_MULTI
	tristate "Driver hr multi timer for KSD SERVER" 
        default y
        help
		This is driver for KSD HR MULTI TIMER for SERVER (default 350mc). 
		Say Y here if you have a KSD HR MULTI TIMER for SERVER in your system.

		To compile this driver as a module, choose M here: the
		module will be called psmouse.

endif
